<footer class="footer">
	<div class="footer-inner" style='text-align:center;'>

		<p>Created by <a href="/about-me">{{ site.author }}</a>.</p>

    <p>{{ site.author_description }}</p>

    <ul>

      {% if site.github_username %}
         - <a href="https://github.com/{{ site.github_username }}" title="Github">Github</a>
      {% endif %}

      {% if site.facebook_username %}
         - <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">Facebook</a>
      {% endif %}

      {% if site.license %}
         - <a href="{{ site.license_url }}">License</a>
      {% endif %}

    </ul>
	</div>
</footer>
